<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>EDEN FINANCE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  </head>

  <body>
    <aside class="sidebar">
      <h1>EDEN FINANCE</h1>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li>
            <a href="#" class="dropdown-btn">Pages ▼</a>
            <ul class="dropdown-container">
              <li><a href="{{ url_for('contact') }}">Contact</a></li>
              <li><a href="{{ url_for('stocks') }}">Stock Graphing</a></li>
              <li><a href="{{ url_for('investment_calculator') }}">Investment Calculator</a></li>
              <li><a href="{{ url_for('blog') }}">Blog</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <div class="card">
        <h2>Welcome to <strong>Eden Finance</strong></h2>
        <p>The purpose of this website is to showcase the financial and mathematical-related interests of Ben Conway
          and Tyler Yanagida.</p>
      </div>

      <section class="profile-container">
        
        <div class="profile-card">
          <img src="{{ url_for('static', filename='images/BC_linked_in_profile.jpeg') }}" alt="Profile picture of Ben Conway" class="profile-pic">
          <h3>Ben Conway</h3>
          <h5>Website Owner, Developer</h5>
          <p><strong>Email:</strong> benjbconway@icloud.com</p>
          <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/ben-conway1/" target="_blank" rel="noopener noreferrer" >linkedin.com/in/ben-conway1/</a></p>
          <p><strong>GitHub:</strong> <a href="https://github.com/benconway03" target="_blank" rel="noopener noreferrer" >https://github.com/benconway03</a></p>
          <p>BSc Mathematics student at the University of Bath</p>
        </div>
        
        <div class="profile-card">
          <img src="{{ url_for('static', filename='images/TY_linked_in_profile.jpeg') }}" alt="Profile picture of Tyler Yanagida" class="profile-pic">
          <h3>Tyler Yanagida</h3>
          <h5>Website Owner</h5>
          <p><strong>Email:</strong> tyleryanagida@gmail.com</p>
          <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/tyler-yanagida-106931251/" target="_blank" rel="noopener noreferrer" >linkedin.com/in/tyler-yanagida-106931251/</a></p>
          <p>BSc Economics student at the University of Bath.</p>
        </div>

      </section>
      </main>

    <footer class="footer">
      
    </footer>

    <script>
      // Sidebar dropdown toggle
      const dropdownBtns = document.querySelectorAll(".dropdown-btn");
      dropdownBtns.forEach(btn => {
        btn.addEventListener("click", () => {
          btn.classList.toggle("active");
          const container = btn.nextElementSibling;
          if(container.style.display === "flex") {
            container.style.display = "none";
          } else {
            container.style.display = "flex";
          }
        });
      });
    </script>
  </body>
</html>